/* Utility */
.tombol {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 2px;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

/* Navbar */
.navbar {
  background-color: #f1f3ff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.navbar-brand {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}

.nav-item {
  margin-left: 32px;
}

.nav-item a {
  font-size: 14px;
  font-weight: 400;
  color: #000 !important;
}

/* Hero */
.hero {
  background-color: #f1f3ff;
  min-height: 100px;
}

.hero-section-left {
  padding: 40px 0;
}

/* Our Services */
.our-services h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.our-services p {
  margin-top: 24px;
}

.our-services img {
  padding-right: 16px;
}

/* Why Us */

.why-us-title {
  display: inline-block;
  margin-top: 50px;
  margin-left: 10px;
}

.why-us-title h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.why-us-card {
  margin-top: 40px;
}

.why-us-card .card {
  margin-bottom: 20px;
}

.why-us-card img {
  margin-top: 25px;
  margin-left: 10%;
}

.why-us-card h4 {
  font-size: 16px;
  font-weight: 700;
}

.why-us-card .card-text {
  line-height: 20px;
  margin-top: 16px;
}

/* Testimonial */
.testimonial-title {
  margin-top: 50px;
  margin-left: 10px;
  display: inline-block;
}

.testimonial-title p {
  margin-top: 16px;
}

.testimonial-card {
  display: flex;
  align-items: center;
  width: 400px;
  height: 240px;
  padding: 10px 12px;
  box-sizing: border-box;
  border-radius: 8px;
}

.testimonial-info strong {
  font-weight: 500;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  width: 620px;
  height: 270px;
}

.testimonial-card {
  background-color: #f1f3ff;
}

/* CTA Banner */
.cta-banner {
  background-color: #0d28a6;
  border-radius: 12px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
  padding: 0 20px;
}

.cta-banner h3 {
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.cta-banner p {
  color: #fff;
  line-height: 20px;
  margin-top: 12px;
}

.cta-banner a {
  margin-top: 52px;
}

/* FAQ */
.faq {
  margin-top: 100px;
}

.faq h3 {
  font-weight: 700;
  margin-bottom: 16px;
}

.faq .accordion .card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}

.faq .card-header {
  background-color: #fff;
}

/* Footer */
.footer {
  margin-top: 100px;
  margin-bottom: 60px;
}

.footer .social-media img {
  margin-left: 16px;
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  .navbar {
    padding: 24px 0;
  }

  .nav-item a:hover::after {
    content: "";
    display: block;
    border-bottom: 1px solid black;
    width: 50%;
    margin: auto;
  }

  .hero-section-left h2 {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    margin-top: 100px;
  }

  .hero-section-left p {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    padding-right: 84px;
  }

  .hero-section-right img {
    position: absolute;
    bottom: 0;
  }

  .our-services {
    margin-top: 100px;
  }

  .why-us-title {
    display: inline-block;
    margin-top: 100px;
    margin-left: 10px;
  }

  .testimonial-card {
    display: flex;
    width: 620px;
    height: 240px;
    padding: 45px;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .testimonial-title {
    margin: 80px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonial-card-photo img {
    margin-top: 30px;
    margin-right: 46px;
  }

  .testimonial-info img {
    margin-bottom: 8px;
  }

  .btn-left {
    margin-top: 100px;
    margin-left: 45%;
  }

  .btn-right {
    margin-top: 100px;
    margin-right: 45%;
  }

  .swiper-pagination {
    visibility: hidden;
  }

  .cta-banner p {
    width: 400px;
  }

  .footer .col-social-media {
    margin-left: -120px;
  }
}

@media (min-width: 375px) and (max-width: 540px) {
  .navbar {
    background-color: #f1f3ff;
  }

  .hero {
    margin-top: 40px;
  }

  .why-us-card {
    display: flex;
    flex-direction: column;
    float: left;
  }

  .testimonial-btn {
    visibility: hidden;
  }

  .cta-banner {
    margin-top: 60px;
  }

  .cta-banner h3 {
    font-size: 18px;
  }

  .cta-banner p {
    line-height: 24px;
  }

  .faq {
    margin-top: 40px;
    display: block;
  }

  .footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .footer .social-media img {
    margin-left: 16px;
    margin-bottom: 16px;
  }
}

@media (min-width: 540px) {
  .swiper-pagination {
    visibility: hidden;
  }

  .footer {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) and (max-width: 912px) {
  .hero {
    margin-top: 20px;
  }

  .navbar {
    background-color: #f1f3ff;
  }

  .why-us-card .card {
    height: 270px;
    box-sizing: border-box;
  }

  .testimonial-card {
    display: flex;
    width: 620px;
    height: 240px;
    padding: 45px;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .testimonial-title {
    margin: 80px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonial-card-photo img {
    margin-top: 10px;
    margin-right: 46px;
  }

  .testimonial-info img {
    margin-bottom: 8px;
  }

  .btn-left {
    margin-top: 100px;
    margin-left: 45%;
  }

  .btn-right {
    margin-top: 100px;
    margin-right: 40%;
  }

  .swiper-pagination {
    visibility: hidden;
  }

  .cta-banner p {
    padding: 0 80px;
    text-align: center;
  }
  .faq {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  .testimonial-card {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 140px;
  }
}

@media (min-width: 375px) and (max-width: 912px) {
  .our-services {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .our-services .left-image {
    visibility: hidden;
    overflow: hidden;
  }
  .testimonial-title {
    display: inline-block;
    margin-left: 10%;
  }
}
